@mixin button-link-year {
    background: var(--smartarchiveindexer-dates-year-background);
    color: var(--smartarchiveindexer-dates-year-color);
    padding: .33em .66em;
    font-weight: bold;
    display: inline-block;
    min-width: 10em;
    @include ltr {
        text-align: left;
    }
    @include rtl {
        text-align: right;
    }

    a {
        color: var(--smartarchiveindexer-dates-year-color);
    }
}

@mixin button-link-month {
    background: var(--smartarchiveindexer-dates-month-background);
    color: var(--smartarchiveindexer-dates-month-color);
    padding: .33em .66em;
    font-weight: bold;
    display: inline-block;
    min-width: 15em;
    @include ltr {
        text-align: left;
    }
    @include rtl {
        text-align: right;
    }

    a {
        color: var(--smartarchiveindexer-dates-month-color);
    }
}

@mixin button-link-day {
    background: var(--smartarchiveindexer-dates-day-background);
    color: var(--smartarchiveindexer-dates-day-color);
    padding: .33em .66em;
    font-weight: bold;
    display: inline-block;
    min-width: 2.5em;
    text-align: center;
    @include ltr {
        margin: 0 .66em .66em 0;
    }
    @include rtl {
        margin: 0 0 .66em .66em;
    }

    a {
        color: var(--smartarchiveindexer-dates-day-color);
    }
}